
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>










  
  
  
  
  
  
  
  
  
  
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />











  
  
  
  
  
  
  
  
  
  
  
  <title>Alkuruoat</title></head>

<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); background-image: url(Photos/newhangul.jpg);" alink="#000000" link="#000000" vlink="#000000">















<table style="width: 904px; height: 1230px; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">











  <tbody>











    <tr style="color: rgb(0, 0, 0); font-family: Papyrus;">











      <td style="background-color: rgb(255, 153, 102); text-align: left;"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>






      <td style="background-color: rgb(255, 153, 102);"></td>






      <td colspan="4" style="text-align: center; background-color: rgb(255, 153, 102);"><big style="font-weight: bold;"><big><big>Ravintola Restaurant K</big></big></big><big style="font-weight: bold;"><big><big><span style="color: rgb(255, 255, 204);"><span style="color: rgb(0, 0, 0);"><span style="font-family: Papyrus;"><img style="width: 16px; height: 16px;" alt="k-buttonbrown" src="Photos/korflagbuttonbrown.gif" /></span></span></span></big></big></big><big style="font-weight: bold;"><big><big>rea House<br />
      </big></big></big></td>






      <td style="background-color: rgb(255, 153, 102);"></td>






      <td style="background-color: rgb(255, 153, 102); text-align: right;"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>











    </tr>











    <tr>











      <td style="background-color: rgb(255, 153, 102);"></td>






      <td style="background-color: rgb(255, 153, 102);"></td>






      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Dayejibulgogi1small.jpg" align="middle" /></td>











      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Bibimbap3small.jpg" align="middle" /></td>











      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Heamultang3small.jpg" align="middle" /></td>











      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Kimbap1small.jpg" align="middle" /></td>






      <td style="background-color: rgb(255, 153, 102);"></td>






      <td style="background-color: rgb(255, 153, 102);"></td>











    </tr>











    <tr>











      <td style="height: 2px; background-color: rgb(255, 153, 102);"></td>






      <td style="height: 2px; background-color: rgb(255, 204, 153);"></td>






      <td style="text-align: center; height: 2px; background-color: rgb(255, 204, 153);" colspan="4"><span style="font-weight: bold;"><span style="color: rgb(0, 0, 0); font-family: Centaur;"></span></span>| <a href="menu.html">Takaisin-Back </a> | <a href="index.html">Etusivu-Main&nbsp;</a> | <a href="paaruoat.htm">Seuraava-Next</a> |<span style="font-weight: bold;"><span style="color: rgb(0, 0, 0); font-family: Centaur;"><big>





      </big>
      </span></span></td>






      <td style="height: 2px; background-color: rgb(255, 204, 153);"></td>






      <td style="height: 2px; background-color: rgb(255, 153, 102);"></td>











      
      
      
    </tr>











    <tr>











      <td style="background-color: rgb(255, 153, 102); width: 109px;">&nbsp; &nbsp; &nbsp; </td>






      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; </td>






      <td colspan="4" style="text-align: center; background-color: rgb(255, 255, 255); width: 640px; font-weight: bold;" bgcolor="#000000"><span style="font-weight: bold;"><span style="color: rgb(0, 0, 0); font-family: Centaur;"><big><big style="text-decoration: underline;"><br />




      </big><big>

Alkupalat- Starters <br />


      </big></big><br />










      </span></span>
      
      
      
      
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-family: Centaur;"><span style="font-family: Centaur;">1-Sengsun tygim- &#49373;&#49440;&#53888;&#44608; &nbsp; &nbsp; 6,50 &#8364;<br style="color: rgb(0, 0, 0); font-weight: bold; font-family: Centaur;" />
        Paistettuja kalaa koreahouse kastikkeen kera<br style="font-family: Centaur;" />
        Deep-fried fish with koreahouse sauce</span>&nbsp;</span></p>
      <hr style="width: 40%; height: 1px; font-family: Centaur;" />
      <p><span style="font-weight: bold; font-family: Centaur;">2-Kimbap-&nbsp;</span><span style="font-size: 14pt; line-height: 100%; font-weight: bold; font-family: Centaur;"></span><span style="font-weight: bold; font-family: Centaur;">&#44608;&#48165; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5,00/ 9,80 &#8364;</span><br style="font-family: Centaur;" />
        
        
        
        
        
        
        
        
        
        
        <span style="font-family: Centaur;">Merilevärulla, täytteenä vihanneksia, riisiä, kanamunaa ja tonnikalaa</span><br style="font-family: Centaur;" />
        
        
        
        
        
        
        
        
        
        
        <span style="font-family: Centaur;">Rice with various fillings rolled in a seaweed wrap</span><br />
        </p>
      <hr style="width: 40%; height: 1px; font-family: Centaur;" />
      <p><span style="font-weight: bold; font-family: Centaur;">3-Kimchijeon-&nbsp;</span><span style="font-size: 14pt; line-height: 100%; font-weight: bold; font-family: Centaur;"></span><span style="font-weight: bold; font-family: Centaur;">&#44608;&#52824;&#51204; &nbsp; &nbsp; &nbsp; 5,00/ 12,50 &#8364;</span><br style="font-family: Centaur;" />
        <span style="font-family: Centaur;">Kimchi omeletti</span><br style="font-family: Centaur;" />
        <span style="font-family: Centaur;">Pan baked spicy kimchi.</span><br />
      </p>
      <hr style="width: 40%; height: 1px; font-family: Centaur;" />
      <p><span style="font-weight: bold; font-family: Centaur;">4-Haemuljeon- &#54644;&#47932;&#51204;</span><span style="font-size: 14pt; line-height: 100%; font-weight: bold; font-family: Centaur;"></span><span style="font-weight: bold; font-family: Centaur;"></span><span style="font-weight: bold; font-family: Centaur;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;6,00/13,50 &#8364;</span><br style="font-family: Centaur;" />










        <span style="font-family: Centaur;">Mustekala-äyriäis-kasvisomeletti</span><br style="font-family: Centaur;" />










        <span style="font-family: Centaur;">Pan-baked squid- and seafood</span><br />
      </p>
      <hr style="width: 40%; height: 1px; font-family: Centaur;" />
      <p><span style="font-weight: bold; font-family: Centaur;">5-Seutygim-&nbsp;</span><span style="font-size: 14pt; line-height: 100%; font-family: Centaur;"><small><span style="font-weight: bold;">&#49352;&#50864;&#53888;&#44608;</span></small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-weight: bold; font-family: Centaur;">7,50 &#8364;</span><br style="font-family: Centaur;" />










        <span style="font-family: Centaur;">Paistettuja katkaravunpyrstöjä</span><br style="font-family: Centaur;" />










        <span style="font-family: Centaur;">Deep-fried shrimps</span><br />
      </p>
      <hr style="width: 40%; height: 1px; font-family: Centaur;" />
      <p><span style="font-weight: bold; font-family: Centaur;">6-Mandutygim- &#47564;&#46160;&#53888;&#44608;</span><span style="font-size: 14pt; line-height: 100%; font-weight: bold; font-family: Centaur;"></span><span style="font-weight: bold; font-family: Centaur;"> &nbsp; &nbsp; 5,50 &#8364;</span><br style="color: rgb(0, 0, 0); font-weight: bold; font-family: Centaur;" />










        <span style="font-weight: bold; font-family: Centaur;"></span>





      









        <span style="font-family: Centaur;">Paistettuja taikinanyyttejä</span> sis&auml;lt&auml;&auml; porsaanlihaa ja vihanneksia<br style="font-family: Centaur;" />










        <span style="font-family: Centaur;">Fried dumplings</span><br />
      </p>
      <hr style="width: 40%; height: 1px; font-family: Centaur;" />
      <p><span style="font-family: Centaur;"><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">7-Modum tygim- &#47784;&#46316;&#53888;&#44608; 9,00/17,50 &#8364;</span><br style="font-family: Centaur;" />
          <span style="color: rgb(0, 0, 0); font-family: Centaur;">&nbsp;Friteerattua katkarapuja, kalaa, taikinanyyttejä, mustekalaa ja vihanneksia&nbsp;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
          <span style="color: rgb(0, 0, 0); font-family: Centaur;">Deep-fried prawns, dumpuling, fish, squid and vegetables</span><br />




        </span><span style="font-weight: bold;"><br style="color: rgb(0, 0, 0); font-weight: bold; font-family: Centaur;" />
        </span>      </p>
      <hr style="width: 40%; height: 1px; font-family: Centaur;" />
      <p><span style="font-weight: bold; font-family: Centaur;">9-Tang su yuk - &#53461;&#49688;&#50977; &nbsp;  19,00 &#8364;</span><br style="color: rgb(0, 0, 0); font-weight: bold; font-family: Centaur;" />
        <span style="font-weight: bold; font-family: Centaur;"></span> <span style="font-family: Centaur;"><span style="color: rgb(0, 0, 0); font-family: Centaur;">Friteerattua possua </span></span><span style="font-family: Centaur;">makeassa&nbsp; kastikkessa</span><br style="font-family: Centaur;" />
      <span style="font-family: Centaur;">Sweet and sour pork</span></p>
      <p><big><big><span style="font-weight: normal; color: rgb(0, 0, 0);"><br style="font-family: Centaur;" />
          
          
          
          
          </span></big></big>
          
          
          
          
          
      <big style="font-weight: bold;"><span style="font-family: Centaur;"></span></big>&nbsp;<img style="width: 100px; height: 77px;" alt="taegukwhite" src="Photos/taegukwhite.jpg" /><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"></span></p></td>






      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; </td>






      <td style="background-color: rgb(255, 153, 102); width: 109px;">&nbsp; &nbsp; &nbsp; &nbsp; </td>











    </tr>











  
  
  
  
  
  
  
  
  
  
  
  </tbody>
</table>











<br />










</body></html>