
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>











  
  
  
  
  
  
  
  
  
  
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />












  
  
  
  
  
  
  
  
  
  
  
  
  
<title>Juomat</title><style type="text/css">
<!--
-->
</style></head>
<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); background-image: url(Photos/newhangul.jpg);" alink="#000000" link="#000000" vlink="#000000">



















<table style="width: 904px; height: 2372px; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">














  <tbody>














    <tr style="font-family: Papyrus; color: rgb(0, 0, 0);">














      <td style="background-color: rgb(255, 153, 102);"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>








      <td style="background-color: rgb(255, 153, 102);"></td>








      <td style="text-align: center; background-color: rgb(255, 153, 102); height: 117px;" colspan="4"><big style="font-weight: bold;"><big><big>Ravintola Restaurant K</big></big></big><big style="font-weight: bold;"><big><big><span style="color: rgb(255, 255, 204);"><span style="color: rgb(0, 0, 0);"><span style="font-family: Papyrus;"><img style="width: 16px; height: 16px;" alt="k-buttonbrown" src="Photos/korflagbuttonbrown.gif" /></span></span></span></big></big></big><big style="font-weight: bold;"><big><big>rea House<br />








&#54620;&#44397;&#44288;</big></big></big></td>








      <td style="background-color: rgb(255, 153, 102);"></td>








      <td style="background-color: rgb(255, 153, 102); text-align: right;"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>














    </tr>














    <tr>














      <td style="background-color: rgb(255, 153, 102);"></td>








      <td style="background-color: rgb(255, 153, 102);"></td>








      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img src="Photos/Menu%20photos%20Small/Dayejibulgogi1small.jpg" alt="" style="width: 100px; height: 70px;" align="middle" /></td>














      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img src="Photos/Menu%20photos%20Small/Bibimbap3small.jpg" alt="" style="width: 100px; height: 70px;" align="middle" /></td>














      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img src="Photos/Menu%20photos%20Small/Heamultang3small.jpg" alt="" style="width: 100px; height: 70px;" align="middle" /></td>














      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img src="Photos/Menu%20photos%20Small/Kimbap1small.jpg" alt="" style="width: 100px; height: 70px;" align="middle" /></td>








      <td style="background-color: rgb(255, 153, 102);"></td>








      <td style="background-color: rgb(255, 153, 102);"></td>














    </tr>














    <tr style="color: rgb(0, 0, 0);">














      <td style="background-color: rgb(255, 153, 102);"></td>








      <td style="background-color: rgb(255, 204, 153);"></td>








      <td colspan="4" style="text-align: center; background-color: rgb(255, 204, 153);"><big><span style="font-weight: bold;"></span><span style="font-weight: bold;"></span></big>&nbsp;<span style="font-weight: bold; font-family: ADMUI3Sm;"></span>| <a href="salaatit.htm">Takaisin Back &#46244;&#47196;</a> | <a href="index.html">Etusivu Main &#52376;&#51020;</a>&nbsp;| <a href="jalkiruoat.html">Seuraava&nbsp;Next &#45796;&#51020;</a> |</td>








      <td style="background-color: rgb(255, 204, 153);"></td>








      <td style="background-color: rgb(255, 153, 102);"></td>














      
      
      
    </tr>














    <tr>














      <td style="text-align: left; vertical-align: bottom; background-color: rgb(255, 153, 102); width: 109px;"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>








      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; </td>








      <td colspan="4" style="text-align: center; width: 640px; background-color: rgb(255, 255, 255);">

      <span style="font-weight: bold; font-family: ADMUI3Sm;"><small><span style="font-family: Centaur;"></span></small></span><big><big><span style="font-family: Centaur; font-weight: bold;"><span style="text-decoration: underline;"><br />






      </span></span><span style="font-weight: bold; font-family: Centaur;">

Oluet Siiderit Beer Cider &#47589;&#51452;</span></big></big><big><big><span style="font-family: Centaur; font-weight: bold;"><br />



      <br />






      </span></big></big>
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" /><big><big><span style="font-family: Centaur; font-weight: bold;"><span style="text-decoration: underline;"></span></span></big></big>Lapin Kulta III 0,3/0,5 l<br style="font-family: Centaur;" />








      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />Karjala III 0,3 l<br />






      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />
      Hite (Korealainen olut) 0,3 l<br />






      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />Karhu IV 0,3 l<br />








      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />Kuiva omena siideri &nbsp;Dry apple cider<br />






      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />Päärynä siideri Perry<br />








      <big><big><small><span style="font-family: Centaur;"><br />








      </span></small></big></big><big><big><small><span style="font-family: Centaur;"></span></small><span style="font-family: Centaur; font-weight: bold;"><span style="text-decoration: underline;"><br />






      </span>

Virvokkeet Soft Drinks &#51020;&#47308;</span></big></big><big><big><span style="font-family: Centaur; font-weight: bold;"><br />






      <br />






      <span style="text-decoration: underline;">

      </span></span></big></big>
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" /><big><big><span style="font-family: Centaur; font-weight: bold;"><span style="text-decoration: underline;"></span></span></big></big>Cola/Sprite<br />






      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />Appelsiini mehu Orange juice<br />








      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />Vichy/Novelle<big><big><small><span style="font-family: Centaur;"></span></small></big></big><big><big><small><span style="font-family: Centaur;"></span></small><span style="font-family: Centaur; font-weight: bold;"><span style="text-decoration: underline;"><br />








      </span></span></big></big>
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" /><big><big><span style="font-family: Centaur; font-weight: bold;"><span style="text-decoration: underline;"><br />








      <br />



      </span>




-Punaviinit Red Wines- &#47112;&#46300;&#50752;&#51064;</span></big></big><br />













      
      
      
      
      
      
      
      
      
      
      
      <p style="font-weight: bold;" class="MsoNormal">Caldora Sangiovese Trre di chiet(Talon Viini, House Wine)<br />











      <span style="font-weight: normal;">Helposti lähestyttävä<br />











Keskitäyteläinen, tasapainoinen, tanniininen</span></p>
<hr style="width: 40%; height: 1px;" />

      
      
      
      
      
      
      
      
      
      
      
      <p class="MsoNormal"><span style="font-weight: bold; font-family: Centaur;">Etelä-afrikka - South Africa:</span><br />











      <span style="font-weight: bold;"></span></p>











      
      
      
      
      
      
      
      
      
      
      
      <p style="font-family: Centaur;" class="MsoNormal"><span style="font-weight: bold;">Spier Discover Red</span><br />











Spier/Coastal Pinotage, Shiraz<br />











      <span style="font-size: 14pt; line-height: 100%;"><span style=""><small>Pyöreä, notkea, hedelmäinen, helposti lähestyttävä, täyteläinen&nbsp;</small></span></span></p>











      
      
      
      
      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />







      
      
      
      
      
      
      
      
      
      
      
      <p class="MsoNormal"><span style="font-weight: bold; font-family: Centaur;">Chile:</span><br />











      <span style="font-weight: bold;"></span><span style="font-weight: bold; font-family: Centaur;"></span></p>











      
      
      
      
      
      
      
      
      
      
      
      <p class="MsoNormal"><span style="font-weight: bold; font-family: Centaur;">Pionero Merlot</span><span style="font-size: 14pt; line-height: 100%;"><span style=""> </span></span><span style="font-family: Centaur;"><br />





Vina Morande/Central Valley</span><span style="font-family: Centaur;">&nbsp;<br />





Täyteläinen, pehmeä, pitkä, pyöreä, kypsänmarjainen, pippurinen</span></p>











      
      
      
      
      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />
      <span style="font-weight: bold; font-family: Centaur;">AUSTRAILIA:</span><br />











      <span style="font-weight: bold; font-family: Centaur;"></span>











      
      
      
      
      
      
      
      
      
      
      
      <p class="MsoNormal"><span style="font-weight: bold; font-family: Centaur;">Yalumba "Y Series" Merlot </span><span style="font-family: Centaur;"><br />
      </span><span style="font-family: Centaur;">Täyteläinen, pehme<span style="font-weight: normal;">ä</span>, pitk<span style="font-weight: normal;">ä</span>, kyps<span style="font-weight: normal;">ä</span>nmarjainen, pippurinen</span></p>
      <hr style="width: 40%; height: 1px;" />
      <p class="MsoNormal"><big style="font-weight: bold; font-family: Centaur;"><big><span style="font-family: Centaur; font-weight: bold;">Espanja</span>:<br />
      </big></big></p>
      <p class="MsoNormal"><span style="font-family: Centaur;">Bodegas Beronia/Rioja<br />
      </span><span style="font-family: Centaur;">Samettisen pehme<span style="font-weight: normal;">ä</span>, hieman kehittynyt, tasapainoinenpitk<span style="font-weight: normal;">ä</span>, hedelm<span style="font-weight: normal;">ä</span>inen</span></p>
      <hr style="width: 40%; height: 1px;" />
      <p class="MsoNormal"><big style="font-weight: bold; font-family: Centaur;"><big style="font-weight: bold; font-family: Centaur;"><big>France</big></big><big>:<br />
      </big></big></p>
      <p class="MsoNormal"><span style="font-family: Centaur;">Guigal Gigondas<br />
      </span><span style="font-family: Centaur;">t</span><span style="font-weight: normal;">ä</span>ytel<span style="font-weight: normal;">ä</span>isen runsas, robusti, melko pitk<span style="font-weight: normal;">ä</span> ja hienostynut maku</p>
      <hr style="width: 40%; height: 1px;" />
      <big style="font-weight: bold; font-family: Centaur;"><big>-Valkoviinit White Wines- &#54868;&#51060;&#53944;&#50752;&#51064;</big></big><br />
        
        
        
        
        
        
        
        
        
        
        
        <span style="font-weight: bold; text-decoration: underline;"><br />
          
          
          
          
          
          
          
          
          
          
          
        </span><span style="font-weight: bold;"><big><span style="font-family: Centaur;">ITALIA:</span></big></span><br />
        
        
        
        
        
        
        
        
        
        
        
        <span style="font-weight: bold; font-family: Centaur;"><br />
        <span class="MsoNormal" style="font-weight: bold;">Caldora  Trebbiano d Abruzzo (Talon Viini, House Wine)<br />
        <span style="font-weight: normal;">Kuiva, tä</span>ytel<span style="font-weight: normal;">ä</span>inen, intensiivinen, tasapainoinen</span></span> 
        <hr style="width: 40%; height: 1px;" />
      
      
      
      
      
      
      
      
      
      
      
      <p class="MsoNormal"><span style="font-family: Batang; font-weight: bold; text-decoration: underline;"><span style="font-family: Centaur;">Etelä-afrikka - South Africa:</span></span></p>











      
      
      
      
      
      
      
      
      
      
      
      <p class="MsoNormal"><span style="font-family: Centaur;"><span style="font-weight: bold;">Spier Discover White&nbsp;</span></span><span style="font-weight: bold;"></span><span style="font-family: Centaur;"><span style="font-weight: bold;"></span><br />











Spier/Coastal Chenin Blanc, Colombard<br />











Kuiva, raikas, hedelmäinen</span></p>

















      <big><span style="font-family: Centaur; font-weight: bold; text-decoration: underline;"></span></big>
      
      
      
      
      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />
      <big><span style="font-family: Centaur; font-weight: bold;">CHILE:</span></big><br />











      <br />











      <span style="font-family: Centaur; font-weight: bold;">Pionero Chardonnay</span><br style="font-family: Centaur;" />











      <span style="font-family: Centaur;">Vina Morande/Central Valley</span><br style="font-family: Centaur;" />











      <span style="font-family: Centaur;">Kuiva,t<span style="font-weight: normal;">ä</span>ytell<span style="font-weight: normal;">ä</span>inen, raikas, hieman p<span style="font-weight: normal;">ä</span>hkin<span style="font-weight: normal;">ä</span>inen </span><br />











      
      
      
      
      
      
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; font-family: Centaur;">AUSTRAILIA:</span><br />
        <span style="font-weight: bold; font-family: Centaur;"></span> </p>
      <p class="MsoNormal"><span style="font-weight: bold; font-family: Centaur;">Yalumba "Y Series" Viognier </span><span style="font-family: Centaur;"><br />
      kuiva,keskitäyteläinen,raikkaan hedelmäinen, pitk<span style="font-weight: normal;">ä</span>, raikas jä</span>lkimaku</p>
      <hr style="width: 40%; height: 1px;" />
      <p class="MsoNormal"><big style="font-weight: bold; font-family: Centaur;"><big>FRANCE:<br />
      </big></big></p>
      <p class="MsoNormal"><span style="font-family: Centaur;">Willm Riesling Grand Cru / Alsace<br />
      puolikuiva, runsas ja mineraalinen, tasapainoisen pehmea ja tyylikas</span></p>
      <hr style="width: 40%; height: 1px;" />
      <p><big style="font-weight: bold; font-family: Centaur;"><big>-Kuohuviinit Sparkling Wines- &#49828;&#54028;&#53364;&#47553;&#50752;&#51064;</big></big><br />
        
        
        
        
        
        
        
        
        
        
        
        <br />
        
        
        
        
        
        
        
        
        
        
        
        <span style="font-family: Centaur; font-weight: bold;">Espanja - Spain:</span><br />
        
        
        
        
        
        
        
        
        
        
        
        <br />
        
        
        
        
        
        
        
        
        
        
        
        <span style="font-weight: bold; font-family: Centaur;">Mistinguett&nbsp; CAVA Brut</span><br />
        
        
        
        
        
        
        
        
        
        
        
        <span style="font-family: Centaur;">Masia Vallformosa/Do Penedes</span><br style="font-family: Centaur;" />
        
        
        
        
        
        
        
        
        
        
        
        <span style="font-family: Centaur;">Kuiva, tasapainoinen, herkullinen, kevyesti hapokas, pyöreä, elegantti</span><br />
        
        
        
        
        
        
        
        
        
        
        
        <br />
        
        
        
        
        
        
        
        
        <br />
        
        
        
        
        
        
        
        
        
        
        
        <br />
        
        
        
        
        
        
        
        
      <img style="width: 100px; height: 77px;" alt="taegukwhite" src="Photos/taegukwhite.jpg" /><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"></span></p></td>








      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; </td>








      <td style="text-align: right; vertical-align: bottom; background-color: rgb(255, 153, 102); width: 109px;">&nbsp; &nbsp; &nbsp;<img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /> </td>














    </tr>














  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </tbody>
</table>













</body></html>