
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>













  
  
  
  
  
  
  
  
  
  
  
  
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />














  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <title>Paaruoat</title></head>
<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); background-image: url(Photos/newhangul.jpg);" alink="#000000" link="#000000" vlink="#000000">


















<table style="width: 904px; height: 1401px; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">













  <tbody>













    <tr style="font-family: Papyrus; color: rgb(255, 255, 204);">













      <td style="background-color: rgb(255, 153, 102); text-align: left;"><big style="font-weight: bold;"><big><big><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></big></big></big></td>







      <td colspan="6" style="text-align: center; background-color: rgb(255, 153, 102); color: rgb(0, 0, 0);"><big style="font-weight: bold;"><big><big>Ravintola Restaurant K</big></big></big><big style="font-weight: bold;"><big><big><span style="color: rgb(255, 255, 204);"><span style="color: rgb(0, 0, 0);"><span style="font-family: Papyrus;"><img style="width: 16px; height: 16px;" alt="k-buttonbrown" src="Photos/korflagbuttonbrown.gif" /></span></span></span></big></big></big><big style="font-weight: bold;"><big><big>rea House<br />
      </big></big></big></td>







      <td style="background-color: rgb(255, 153, 102); text-align: right;"><big style="font-weight: bold;"><big><big><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /><br />







      </big></big></big></td>













    </tr>













    <tr>













      <td style="background-color: rgb(255, 153, 102);"></td>







      <td style="background-color: rgb(255, 153, 102);"></td>








      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Bulgogismall.jpg" align="middle" /></td>













      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Bibimbap3small.jpg" align="middle" /></td>













      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Heamultang3small.jpg" align="middle" /></td>













      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Kimbap1small.jpg" align="middle" /></td>








      <td style="background-color: rgb(255, 153, 102);"></td>







      <td style="background-color: rgb(255, 153, 102);"></td>













    </tr>













    <tr style="color: rgb(255, 255, 204);">













      <td style="background-color: rgb(255, 153, 102);"></td>







      <td colspan="6" style="text-align: center; background-color: rgb(255, 204, 153); color: rgb(0, 0, 0);">| <a href="alkuruoat.htm">Takaisin-Back&nbsp;</a> | <a href="index.html">Etusivu-Main</a> | <a href="lounas.htm">Seuraava-Next</a>| </td>







      <td style="background-color: rgb(255, 153, 102);"></td>













      
      
      
    </tr>













    <tr>













      <td style="text-align: left; vertical-align: bottom; background-color: rgb(255, 153, 102); width: 109px;"><big style="font-weight: bold;"><big><big><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></big></big></big></td>







      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; </td>








      <td style="text-align: center; background-color: rgb(255, 255, 255); width: 640px;" colspan="4"><span style="font-weight: bold;"><span style="color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: ADMUI3Sm;"></span></span></span><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><br />







      <big style="font-family: Centaur;"><big><strong>PÄ</strong></big><big style="font-family: Centaur;"><big><strong></strong></big></big></big></span><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><big style="font-family: Centaur;"><big><strong>Ä</strong></big></big></span><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><big style="font-family: Centaur;"><big style="font-family: Centaur;"><big><strong></strong></big></big>RUOAT<big><strong>-MAIN DISHES</strong><br />





      <br />





      </big></big><big style="font-family: Centaur;"><big>

      </big></big></span>
      
      
      
      
      
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: Centaur;">20-Nakji bokkeum- &#45209;&#51648;&#48374;&#51020; 20,50 &#8364;</span></span><br style="font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">&nbsp;Paistettua mustekalaa ja vihanneksia chilikastike marinadilla&nbsp;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">Fried octopus in chillisauce marinade</span></p>
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: Centaur;">21-Ojingo bokkeum- &#50724;&#51669;&#50612;&#48374;&#51020; 19,50 &#8364;</span></span><br style="font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">&nbsp;Paistettua kalmaria chilikastike marinadilla&nbsp;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">Fried squid in chillisauce marinade</span></p>
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: Centaur;">22-Yeonneoyori- &#50672;&#50612;&#50836;&#47532; 18,50 &#8364;<br style="color: rgb(0, 0, 0); font-family: Centaur;" />
            <span style="color: rgb(0, 0, 0); font-family: Centaur;">Paistettua lohta soija kastikkeella tai chilimarinadissa </span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;"> Fried salmon with soya sauce&nbsp;</span></span></span></p>
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">23-Dyaejinbulgogi- &#46076;&#51648;&#48520;&#44256;&#44592; 15,50 &#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">Paistettua porsaanlihaa ja vihanneksia  chili- tai soijakastikeella</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;"> Fried pork and vegetables in chilly sauce or soya sauce</span></p>
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: Centaur;">24-Jeyuk bokkeum- &#51228;&#50977;&#48374;&#51020; 16,50 &#8364;</span></span><br style="font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">&nbsp;Paistettua kimchiä ja porsaanlihaa ja tofu&nbsp;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">Fried kimchi and pork with tofu</span></p>
<hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: Centaur; font-weight: bold;"><span style="font-family: Centaur;">25-Kanpunggi- &#44624;&#54413;&#44592; 16,50 &#8364;</span><br style="font-family: Centaur;" />
<span style="color: rgb(0, 0, 0); font-family: Centaur;">&nbsp;Friteerattua kanaa  makeahkolla chilimarinadikastikkeella p&auml;&auml;ll&auml; p&auml;hkin&auml;&auml;&nbsp;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
            <span style="color: rgb(0, 0, 0); font-family: Centaur;">Deep-fried chiken in a sweet spicy marinade</span></span></span></p>
      <hr style="width: 40%; height: 1px;" />
      <p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: Centaur; font-weight: bold;">26-Jabchebap- &#51105;&#52292;&#48165;  15,00 &#8364;<br style="font-family: Centaur;" />
          <span style="color: rgb(0, 0, 0); font-family: Centaur;">&nbsp;Bataattinuudeleita ja naudanlihaa erilaisten vihanneslisukkeiden kera&nbsp;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">Mixed dish of noodles, vegetables &amp; sliced beef</span></span></span></p>
<hr style="width: 40%; height: 1px;" />
<p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><span style="font-family: Centaur;">27-Bibimbap- &#48708;&#48724;&#48165; 15,50 &#8364;<br style="font-family: Centaur;" />
      <span style="color: rgb(0, 0, 0); font-family: Centaur;">&nbsp;Keitettyä riisiä kasvisten ja naudanlihan kera&nbsp;</span>ja p&auml;&auml;ll&auml; kanamunaa<br style="color: rgb(0, 0, 0); font-family: Centaur;" />
      <span style="color: rgb(0, 0, 0); font-family: Centaur;">Boiled rice assorted mixture of vegetables, beef and egg</span></span></span></p>
<hr style="width: 40%; height: 1px;" />
<p>28<span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">-Bulgogi- &#48520;&#44256;&#44592; 19,50 &#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <span style="color: rgb(0, 0, 0); font-family: Centaur;">
          
          
          
          Ohueksi leikattua naudanlihaa jossa makeahko marinadi</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
          <span style="color: rgb(0, 0, 0); font-family: Centaur;">
          
          
          
          Thin sliced beef and vegetables stir fried in our special blend of oriental sauce</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"></span> </p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">29-Dakbulgogi- &#45805;&#48520;&#44256;&#44592; 16,50 </span><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">&#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;">Paistettua kanaa ja vihanneksia chili- tai soijakastikeella</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;"> Stir fried chicken and vegetables with chili sauce or soya sauce</span></p>
<p>&nbsp;</p>
<p><strong>PATARUOAT-HOT POT</strong></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p>30<span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">-Kimchichigae- &#44608;&#52824;&#52236;&#44060; 17,50 &#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <span style="color: rgb(0, 0, 0); font-family: Centaur;">
    
    
    
    Kimchi &amp; porsaanlihakeitto sis&auml;lt&auml;&auml; tofua ja vihanneksia</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <span style="color: rgb(0, 0, 0); font-family: Centaur;">
    
    
    
    Kimchi stew with pork</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"></span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">31-Dyaenjangchigae- &nbsp;&#46108;&#51109;&#52236;&#44060; 15,50 </span><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">&#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;">Korealainen soijapapu keitto sis&auml;lt&auml;&auml; tofua ja vihanneksia</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;"> Korean soyabean stew</span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p>32<span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">-Sundubuchigae- &#49692;&#46160;&#48512;&#52236;&#44060; 16,20 </span><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">&#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
<span style="color: rgb(0, 0, 0); font-family: Centaur;">Pehmeä tofukeitto sis&auml;lt&auml;&auml; äyriäisi&auml; ja kanamunaa</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
<span style="color: rgb(0, 0, 0); font-family: Centaur;"> Soft tofu stew with mixed seafood</span> <br style="color: rgb(0, 0, 0); font-family: Centaur;" />






















      <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"></span>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      </p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><strong>33</strong><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">- Sengsun tang-&#49373;&#49440;&#53461; 17,20 &#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;">Kalaa- ja äyriäiskeitto sis&auml;lt&auml;&auml; tofua ja vihanneksia</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;"> Fish and mixed seafood stew with rice</span> </p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p>34<span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">-Heamultang- &#54644;&#47932;&#53461; (min. 2 tilausta) a 22,00 &#8364;-pp<br />
  min. order for 2 persons <br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  </span>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <span style="color: rgb(0, 0, 0); font-family: Centaur;">Äyriäiskeitto, riisiä ja kimchiä</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <span style="color: rgb(0, 0, 0); font-family: Centaur;">
    
    
    
    Mixed seafood stew</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"></span></p>
<p><strong>KOREAHOUSE ATERIOITA-KOREAHOUSE SPECIAL DINNER</strong></p>
<p><strong>40-Koreahouse-A &nbsp; 2 hengelle-for 2 persons</strong> <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">49,00 &#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><strong>Alkuruoat-paistettuja taikinanyyttejä ja kalaa<br />
    Pääruoat-bulgogi(naudanliha), porsaanlihaa, riisiä ja jääteöä<br />
    Deep-fried dumplings &amp; fish Main-beef,pork,rice.&nbsp; ice-cre<strong>am</strong><br />
    </strong></span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><strong><strong>41-Koreahouse-B &nbsp; 3 hengelle-for 3 persons</strong> 73,50 &#8364;<br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <strong>Alkuruoat-paistettuja taikinanyyttejä ja kalaa<br />
  Pääruoat-bulgogi(naudanliha), porsaanlihaa, kanaa, riisiä ja jääteöä<br />
  Deep-fried dumplings &amp; fish Main-beef,pork, chiken, rice.&nbsp; ice-cre<strong>am</strong><br />
</strong></strong></span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><strong><strong><strong>42-Koreahouse-C &nbsp;&nbsp; 4 hengelle-for 4 persons</strong> <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">98,00 &#8364;</span><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><strong>Alkuruoat-paistettuja taikinanyyttejä ja kalaa<br />
Pääruoat-bulgogi(naudanliha), porsaanlihaa,kanaa,tofu keitto,riisiä ja jääteöä<br />
Deep-fried dumplings &amp; fish Main-beef,pork,chiken,tofu stew,rice.&nbsp; ice-cre<strong>am</strong><br />
  </strong></span></strong></strong></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><strong><strong><strong><big><big><br />
  
  
  
  
  
        <big><small><small>43.Samkyeupsal(&#49340;&#44217;&#49332;)  a 19,50</small></small></big> <small><small>&#8364; -pp<br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        </small></small><big><small><small>Paistettua porsaan kylkiviipale</small></small></big></big></big></strong></strong></strong></span><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><strong><strong><strong><big><big><small><small> chillikastikeessa<br style="color: rgb(0, 0, 0); font-family: Centaur;" />
        </small></small></big></big>Grilled pork belly<big><big><small><small> with chili sauce<br />
        </small></small></big></big></strong></strong></strong></span></p>
<p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><strong><strong><strong><big><big><small><small>PÖYDÄSSÄ VALMISTETTAVIA BULGOGI(BULGOGI ON THE TABLE)<br />
</small></small></big></big></strong></strong></strong></span></p>
<p><strong><strong><strong><strong>44</strong><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;">-Bulgogi atera- &#48520;&#44256;&#44592;-Bulgogi set a 26,00 &#8364;</span> -pp<br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <small><small><span style="color: rgb(0, 0, 0); font-family: Centaur;"><big><big><big><small><small>vähintään 2 henkilölle -&nbsp;</small></small></big></big></big></span></small></small><big><big><small><small>min. order  2 persons </small></small></big></big><br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;"> Ohueksi leikattua naudanlihaa: marinadi</span>(sis. riisia, salaatti, kimchi)<br style="color: rgb(0, 0, 0); font-family: Centaur;" />
  <span style="color: rgb(0, 0, 0); font-family: Centaur;"> Specially marinated thin sliced beef(inc. rice, salad, kimchi)</span></strong></strong></strong></p>
<p><span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"><strong><strong><strong><img style="width: 100px; height: 77px;" alt="taegukwhite" src="Photos/taegukwhite.jpg" /><br />
  
  
  
  
  
  
  
  <br />
  
  
  
  
  
  
  
  
  
  
  
  
  </strong></strong></strong></span></p></td>








      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; </td>







      <td style="text-align: right; vertical-align: bottom; background-color: rgb(255, 153, 102); width: 109px;"><big style="font-weight: bold;"><big><big><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></big></big></big></td>













    </tr>













  
  
  
  
  
  
  
  
  
  
  
  
  
  </tbody>
</table>













<br />













</body></html>