
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>











  
  
  
  
  
  
  
  
  
  
  
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />












  
  
  
  
  
  
  
  
  
  
  
  
  <title>Salaatit</title>
</head>


<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); background-image: url(Photos/newhangul.jpg);" alink="#000000" link="#000000" vlink="#000000">















<table style="text-align: left; margin-left: auto; margin-right: auto; width: 904px; height: 830px;" border="0" cellpadding="0" cellspacing="0">












  <tbody>












    <tr style="font-family: Papyrus; color: rgb(0, 0, 0);">












      <td style="background-color: rgb(255, 153, 102);"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>





      <td style="background-color: rgb(255, 153, 102);"></td>





      <td colspan="4" style="text-align: center; background-color: rgb(255, 153, 102);"><big style="font-weight: bold;"><big><big>Ravintola Restaurant K</big></big></big><big style="font-weight: bold;"><big><big><span style="color: rgb(255, 255, 204);"><span style="color: rgb(0, 0, 0);"><span style="font-family: Papyrus;"><img style="width: 16px; height: 16px;" alt="k-buttonbrown" src="Photos/korflagbuttonbrown.gif" /></span></span></span></big></big></big><big style="font-weight: bold;"><big><big>rea House<br />
      </big></big></big></td>





      <td style="background-color: rgb(255, 153, 102);"></td>





      <td style="background-color: rgb(255, 153, 102); text-align: right;"><img style="width: 115px; height: 112px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>












    </tr>












    <tr>












      <td style="background-color: rgb(255, 153, 102);"></td>





      <td style="background-color: rgb(255, 153, 102);"></td>





      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Dayejibulgogi1small.jpg" align="middle" /></td>












      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Bibimbap3small.jpg" align="middle" /></td>












      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Heamultang3small.jpg" align="middle" /></td>












      <td style="text-align: center; background-color: rgb(51, 0, 0);"><img style="width: 100px; height: 70px;" alt="" src="Photos/Menu%20photos%20Small/Kimbap1small.jpg" align="middle" /></td>





      <td style="background-color: rgb(255, 153, 102);"></td>





      <td style="background-color: rgb(255, 153, 102);"></td>












    </tr>












    <tr style="color: rgb(0, 0, 0);">












      <td style="background-color: rgb(255, 153, 102);"></td>





      <td style="background-color: rgb(255, 204, 153);"></td>





      <td style="text-align: center; background-color: rgb(255, 204, 153);" colspan="4"><span style="font-family: ADMUI3Sm; font-weight: bold;"><small style="font-family: Centaur;"><span style="color: rgb(0, 0, 0);">&nbsp;</span></small></span>| <a href="lounas.htm">Takaisin-Back </a> | <a href="index.html">Etusivu-Main </a> | <a href="juomat.htm">Seuraava-Next </a> |<span style="font-family: ADMUI3Sm; font-weight: bold;"><span style="font-family: Centaur; color: rgb(0, 0, 0);"></span></span>

      </td>





      <td style="background-color: rgb(255, 204, 153);"></td>





      <td style="background-color: rgb(255, 153, 102);"></td>












      
      
      
    </tr>












    <tr>












      <td style="vertical-align: bottom; width: 109px; background-color: rgb(255, 153, 102);"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>





      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; &nbsp;</td>





      <td colspan="4" bgcolor="#000000" style="text-align: center; background-color: rgb(255, 255, 255); width: 640px;">

      <span style="font-weight: bold; font-family: ADMUI3Sm;"></span><small><big style="text-decoration: underline;"><big><big><span style="font-family: Centaur; font-weight: bold;"></span></big></big></big><big><big><big><span style="font-family: Centaur; font-weight: bold;"><br />

Keitto-Soup<br />


      </span></big></big></big></small><big><big><small><span style="font-family: Centaur;"></span></small></big></big><big><big><small><span style="font-family: Centaur;"></span></small></big></big><small><big style="text-decoration: underline;"><big><big><span style="font-family: Centaur; font-weight: bold;"></span><br style="font-family: Centaur;" />





      </big></big></big></small>
      <p>10<span style="font-weight: bold; font-family: Centaur;">-Dyaenjang guk- &#46108;&#51109;&#44397;&nbsp; &nbsp; &nbsp;6,00 &euro;</span><br style="font-family: Centaur;" />
  Korealainen soijapapukeitto<br style="font-family: Centaur;" />
  
  
  
  
  
  
  
  
  
  
  
  <span style="font-family: Centaur;">Korean soyabean soup</span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; font-family: Centaur;">11-Mandu guk- &#47564;&#46160;&#44397;&nbsp; &nbsp; &nbsp;6,00 &euro; </span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur;">Taikinaannyyttikeitto</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur;">Dumpling soup</span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p>&nbsp;</p>
<p><span style="font-family: Centaur"><strong>SALAATIT-SIDE DISHES</strong></span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; font-family: Centaur;">12-Kimchi- &#44608;&#52824;&nbsp; &nbsp; &nbsp;5,00 &euro;</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur;">Valmistetaan kiinankaalista ja erilaisista mausteista</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur;">Spicy korean pickled cabbage</span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; font-family: Centaur;">13-Oimuchim- &#50724;&#51060;&#47924;&#52840;&nbsp; &nbsp; &nbsp;5,70 &euro;</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur">Korealaisittain maustettu tulinen kurkku salaatti</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur;">Cucumber salad with mixed korean spices</span><br style="font-family: Centaur;" />

      </p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-weight: bold; font-family: Centaur;">15-Ojino muchim- &#50724;&#51669;&#50612;&#47924;&#52840;&nbsp; &nbsp; &nbsp;10,70 &euro;</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur">Korealaisittain maustettu tulinen kurkku ja kalmari salaatti</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur;">Cucumber and squid salad with mixed korean spices</span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><span style="font-family: Centaur"><strong>16</strong></span><span style="font-weight: bold; font-family: Centaur;">-Sangchu- &#49345;&#52628;-Salaatti &nbsp; &nbsp; &nbsp; 4,70 &euro;</span><br style="font-family: Centaur;" />
  <span style="font-family: Centaur;">Salad </span></p>
<hr style="width: 40%; height: 1px; font-family: Centaur;" />
<p><strong><span style="font-family: Centaur"><strong>17</strong><span style="font-weight: bold; font-family: Centaur;">-</span>Samja</span></strong><span style="font-weight: bold; font-family: Centaur;">ng + manul- &#49928;&#51109;&#44284; &#47560;&#45720;&nbsp; &nbsp; &nbsp;3,50 &euro;</span><strong><span style="font-family: Centaur"><br style="font-family: Centaur;" />
  Soyapapukastike + valkosipuli+kirvelev<span style="font-family: Centaur;">&auml;</span><span style="font-family: Centaur;">&auml;</span><br style="font-family: Centaur;" />
      Soyabeansause + garlic</span></strong>+pepper</p>
<p><br />
  <big><span style="font-weight: bold;"><span style="font-family: Centaur;"><span style="text-decoration: underline;"><img style="width: 100px; height: 77px;" alt="taegukwhite" src="Photos/taegukwhite.jpg" /></span></span><br />
  
  
  
  
  
  </span></big>
  
  
  
  
  
  
  
  
  
  <span style="font-weight: bold; color: rgb(0, 0, 0); font-family: Centaur;"></span></p></td>





      <td style="background-color: rgb(255, 204, 153); width: 16px;">&nbsp; &nbsp; &nbsp;</td>





      <td style="text-align: right; vertical-align: bottom; background-color: rgb(255, 153, 102); width: 109px;"><img style="width: 115px; height: 115px;" alt="changsal" src="Photos/changsal.tausta.jpg" /></td>












    </tr>












  
  
  
  
  
  
  
  
  
  
  
  
  </tbody>
</table>












</body>
</html>
