html,
body{
    margin: 0;
    padding: 0;
    height:100%;
    font-family: 'Roboto Condensed', sans-serif;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#nav {
    background-color: none;
    color: black;
    text-align: center;
    padding: 45px 5px 0px 5px;
    font-size: 25px;
    letter-spacing: 5px;
    word-spacing: 35px;
}

#nav a {
    color : black;
    text-decoration: none;
}

#nav a:hover {
    color : blue;
}


#logowrapper {
    width: 90vw;
    text-align: center;
    margin: 0 auto;
    background-color: none;
}

#logotexteng {
    font-family: Georgia, serif;
    font-size: 55px;
}

#logotextkor {
    font-size: 45px;
    font-family: Batang;
}

#underthelogo {
    width: 90vw;
    text-align: center;
    margin: 0 auto;
    background-color: none;
    font-size: 25px;
    line-height: 80%;
    padding-bottom:55px; 
}

#underthelogo #slogan {
    font-size: 40px;
    font-weight: bold;
}

#notewrapper {
    background-color: #FF8700;
    color: white;
    width:100%;
    height:25px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    display: none;
}

#note {
    font-size: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;     
    padding: 2px 0px 0px 0px;
}

#note_mobile {
    font-size: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;    
    display: none;
}

#closenote {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

#footer {
    background-color: black;
    color: white;
    width:100%;
    height:55px;
    position:absolute;
    bottom:0;
    left:0;
    font-family: Georgia, serif;
}

#copyright {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#copyright_mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    display: none;
}

#jungsoomoon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: right;
}

#jungsoomoon a {
    color : white;
    text-decoration: none;
}

#jungsoomoon a:hover {
    color : gray;
}

#logotexteng {
    font-family: Georgia, serif;
    font-size: 55px;
}

#logotextkor {
    font-size: 45px;
    font-family: Batang, Gungsuh;
}

#taegeuk {
transform-origin: 252px 267px;
-webkit-transform-origin: 50% 50%;
animation: rotate 1.8s cubic-bezier(.49,.05,.32,1.04) 1;
-webkit-animation: rotate 1.8s cubic-bezier(.49,.05,.32,1.04) 1;

}

@keyframes rotate {
0%   {transform: rotate(0deg);} 
77%  {transform: rotate(-360deg);} 
100% {transform: rotate(0deg);}
}

@-webkit-keyframes rotate {
0%   {-webkit-transform: rotate(0deg);} 
77%  {-webkit-transform: rotate(-360deg);} 
100% {-webkit-transform: rotate(0deg);}
}


#taegeukbeat {
transform-origin: 252px 267px;
-webkit-transform-origin: 50% 50%;
-webkit-animation: scale 2s ease-out 1.2s infinite alternate;
animation: scale 2s ease-out 1.2s infinite alternate;
}

@-webkit-keyframes scale {
0%  {-webkit-transform: scale(1,1);}
90%  {-webkit-transform: scale(1,1);}           
95%  {-webkit-transform: scale(1.03,1.03);}
100%  {-webkit-transform: scale(1,1);}
}

@keyframes scale {
0%  {transform: scale(1,1);}
90%  {transform: scale(1,1);}           
95%  {transform: scale(1.03,1.03);}
100%  {transform: scale(1,1);}
}

@media (max-width: 700px) {

#nav {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 20px;
    padding: 35px 5px 0px 5px;
}    

#note {
    display: none;
}

#note_mobile {
    display: block;
    padding: 1px 0px 0px 0px;
}

#underthelogo {
    margin: 0 auto;
    font-size: 15px;
    line-height: 80%;
    padding-bottom:35px; 
}

#underthelogo #slogan {
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
}

#footer {
    height: 35px;
    font-family: Georgia, serif;
    font-size: 10px;
}

#copyright {
    display: none;
}

#copyright_mobile {
    top: 0;
    left: 0;
    text-align: left;
    display: block;
}

#jungsoomoon {
    top: 0;
    left: 0;
    z-index: 10;
    text-align: right;
}

#logo_fallback {
    width: 250px;
    height: 250px;
}

}

