{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block header_block %}
    <a href="{% url 'home' %}" class="homepage_nav">Home</a>&nbsp;&nbsp;
    <a href="mailto:himoonjs@gmail.com" class="homepage_nav">Contact</a>
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center" style="font-size: 30px;">
            <p>3D</p>
            <p>Web</p>
            <p>Animation</p>
            <p>Made in Korea</p>
            <p>Designed by Finland</p>
            <p>Just can't stop doing things</p>
            <p>Jungsoo Moon is my name btw</p>
        </div>
    </div>
</div>
{% endblock %}