{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block header_block %}
    <a href="{% url 'about' %}" class="homepage_nav">About</a>&nbsp;&nbsp;
    <a href="mailto:himoonjs@gmail.com" class="homepage_nav">Contact</a>
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <p>I do web things</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <a class="homepage_body" href="{% url 'catchme_home' %}">Catch me if you can</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <a class="homepage_body" href="{% url 'buttons_home' %}">Button experiments</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <a class="homepage_body" href="{% url 'parallax_home' %}">Parallax with css</a>
        </div>
    </div>
</div>
{% endblock %}