{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block header_block %}
    <a href="{% url 'about' %}" class="homepage_nav">About</a>&nbsp;&nbsp;
    <a href="mailto:himoonjs@gmail.com" class="homepage_nav">Contact</a>
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <p>I do web things</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    <div class="hover">
        <div class="cover-tip">
            <img src="/static/images/catchme_cover.png" alt="Catch me cover" />
            <a href="{% url 'catchme_home' %}">
                <div class="mask"></div>
                <div class="content">
                    <h2>Catch me if you can</h2>
                    <p>Simple web game using SVG animation with SMIL</p>
                </div>
            </a>
        </div>
    </div>
    </div>
    <div class="col-md-4">
        <div class="cover-tip">
            <img src="/static/images/catchme_cover.png" alt="Catch me cover" />
            <a href="{% url 'buttons_home' %}">
                <div class="mask"></div>
                <div class="content">
                    <h2>Button experiments</h2>
                    <p>Here goes description</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="cover-tip">
            <img src="/static/images/catchme_cover.png" alt="Catch me cover" />
            <a href="{% url 'parallax_home' %}">
                <div class="mask"></div>
                <div class="content">
                    <h2>Parallax with css</h2>
                    <p>Here goes description</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}