<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
        <title>Jungsoo Moon - {% block title %}{% endblock %}</title>
    </head>

    <body class="homepage_body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        {% block header_block %}{% endblock %}
                    </div>
                </div>
            </div>
                {% block body_block %}This is default content of body_bock.{% endblock %}
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("touchstart", function(){}, true);
    </script>

    </body>
</html>