<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        <title>Jungsoo Moon - about</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        <a href="{% url 'home' %}">Home</a>&nbsp;
                        <a href="mailto:himoonjs@gmail.com">Contact</a>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <p>About page indeed</p>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>